body {
  background-size: auto;
  background-repeat: space;
  background-position: center;
  background-color: hwb(300 81% 14%);
  margin-top: 30px;
  margin-bottom: 10px;
}

    .hero {
  width: 100%;
  height: 300px;
  display: flex;
  padding: 2px;
  gap: 20px;
  margin-top: 20px;
  border: solid;
  margin-bottom: 0px;
 border-color: #021919;
 background-color: rgb(199, 208, 208);
  background-size: cover;
  background-size: auto;
  border-radius: 20px;
    }
    h4 {
       text-align: center;
        margin-top: 120px;
        color: hwb(312 17% 11%);
    }
    
     
   
      button {
        background-color: yellow;
        color: deeppink;
        border-color: blue;
        height: 40px;
        width: auto;
        border-radius: 10px;
        cursor: pointer;
        margin: 15px;
        font-weight: bold;
        font-size: 14px;
        transition: background-color 0.15s;
        
      }
      button:hover {
        background-color: black;
        box-shadow: 5px 5px 10px red;
      }
  
    .image-box img {
      width: 150px;
      height: 290px;
      margin-top: 2px;
      border-radius: 25px;
      margin-bottom: 2px;
      display: inline-flex;
      border-style: solid;
      border-color: rgb(199, 208, 208);
      background-size:cover;
      background-position: space;
    }
    .details-box {
      width: 350px;
      height: 290px;
      display: inline-block;
      margin-bottom: 5px;
      margin-top: 1px;
      border-style: solid;
      border-color: rgb(199, 208, 208);
      background-color: rgb(199, 208, 208);
      overflow-wrap: break-word;
      word-wrap: break-word;
      box-sizing: border-box;
      overflow: auto;
    }
     .contact-box img {
      width: 177px;
      height: 268px;
      display: inline-block;
      margin-bottom: 5px;
      margin-top: 1px;
      border-style: solid;
      border-color: hwb(120 67% 9%);
      background-color: hwb(120 67% 9%);
      overflow-wrap: break-word;
      word-wrap: break-word;
      box-sizing: border-box;
      overflow: auto;
    }
    .details-box p {
      line-height: 1.6;
      padding: 2px;
      margin-top: 2px;
      margin-bottom: 0;
      margin-top: 0;
    }
    .details-box strong {
        color: red;}

        .contact-box {
          border-style: solid;
          border-color: rgb(199, 208, 208);
          margin-top: 120px;
        }

.whatsapp-button {
      background-color: hsl(142, 89%, 24%);
      color: white;
      padding: 1px 2px;
      border: none;
      border-radius: 30px;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 1px;
      text-decoration: none;
      width: fit-content;
      margin: 2px;
      height: 46px;
      width: 200px;
      transition: background-color 0.3s ease;
    }
    .whatsapp-button :hover {
      background-color: hsl(145, 86%, 5%);
    }

    .whatsapp-button img {
      width: 40px;
      height: 40px;
      margin: 2px;
      background-color: hsl(142, 89%, 24%);
      border: none;
    }
      

    .introduction-statement {
display:block;
color: #333;
width:auto;
padding: 10px;
margin: 10px auto;
margin-top: 10px;
margin-bottom: 30px;
border-color: hwb(300 81% 14%);
border-style: solid;
background-color: hwb(300 81% 14%);
border-width: 2px;
border-radius: none;

}
 h1 {
        color: oklab(62.693% 0.22954 -0.14227);
        font-style: normal;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
      }
      h2 {
        color: oklab(62.693% 0.22954 -0.14227);
        font-style: normal;
        font-family: "Courier New", Courier, monospace;
        text-align: center;
        font-weight: bold;
        font-size: 25px;
        
      }
.any-button {
      
    background-color: yellow;
      color: deeppink;
      border-color: blue;
      border-style: solid;
      align-items: center;
      display: flex;
      justify-content: center;
      height: 50px;
      box-sizing: border-box;
      text-align: center;
      padding: 0 20px;
      border-radius: 10px;
      cursor: pointer;
      font-size: 2px;
      text-decoration: none;
      width: auto;
      font-weight: bold;
      transition: background-color 0.15s;
    
    }
    .any-button:hover {
        background-color: green;
        box-shadow: 5px 5px 10px red;
      }
        .email-btn {
      display: inline-flex;
      width: 300px;
      margin-bottom: 2px;
      align-items: center;
      background-color: hsl(207, 47%, 68%);
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      gap: 25px;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }
    .email-btn :hover {
      background-color: #1ebe5d;
      transform: scale(1.05);
    }
    .icon {
      width: 20px;
      height: 20px;
    }

    .whatsapp-btn {
      display: inline-flex;
      width: 300px;
      background-color: #25d366;
      align-items: center;
      color: white;
      padding: 10px 20px;
      border-radius: 8px;
      margin-top: 0px;
      text-decoration: none;
      font-size: 18px;
      border-top: 10px solid #a8dc36;
      font-weight: bold;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }
    .whatsapp-btn:hover {
      background-color: black;
      transform: scale(1.05);
    }
    .call-btn {
      display: inline-flex;
      width: 300px;
      align-items: center;
      justify-content: center;
      background-color: white;
      color: blue;
      border-color: black;
      border-style: solid;
      padding: 10px 20px;
      border-radius: 8px;
      text-decoration: none;
      font-weight: bold;
      gap: 16px;
      transition: background-color 0.3s ease, transform 0.2s ease;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .call-btn:hover {
      background-color: black;
      transform: scale(1.05);
    }
    .icon {
      width: 25px;
      height: 25px;
    }


       
       
 .whatsappgroup-button {
    
      display: block;
     
 }
      .btn {
      display: inline-block;
      margin: 15px;
      padding: 12px 25px;
      background-color: #25d366;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-decoration: none;
    }

    .btn:hover {
      background-color: #128c7e;
    }



 
